@charset "ISO-8859-1";

.section > .head-title{
	border-bottom: 3px solid #3F7D3F;
  padding: 5px;
}
.clear{
  clear: both;
}

.left-div {
  float: left;
  width: 50%;

}
form {
	border-style: solid;
	border-width: 1px;
	border-color: #488448;
	width: 30%;
	margin: auto;
	padding: 20px;
}
.right-div {
  float: right;
  width: 50%;
  text-align: right;
}
.section{
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 10px;  
}
input {
  margin: 0px;
  
  padding: 0px;
  min-width: 150px;
  max-width: 300px;
}
.form-row{
	width: 100%;
	padding: 0;
	margin: 0;
}
textarea {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-right: -5px;
}

select {
	margin-right: 10px;
}
#drivetest {
	text-align:center;
}
#drivetest form {
	display: inline-block;
}
.form-seperate{
  width: 160px;
  margin-left: 15px;
  padding-right: 5px;
  text-align: right;
}
.align-right {
	float: right;
}